body{
    background-image: url('../images/party1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    @font-face{
        font-family: "Handjet";
        src: url('/static/fonts/HandjetCircle-Regular.ttf');
    }
    font-family: "Handjet";
    font-size: xx-large;
    color: white;
}